<div class="race-actions">
  <%- race.valid_actions.each do |action| -%>
    <a href="<%= "/races/#{race.id}/#{action}" %>" data-method="post" class="btn"><%= action.to_s.capitalize %></a>
  <%- end -%>
</div>
