body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: #333;
}

.container {
  width: 740px;
  margin: 20px auto;
}

.pull-right {
  float: right;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 4px 4px;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #f7f7f7;
  color: #333;
  text-decoration: none;
}

.btn:first-child {
  margin-left: 0;
}

.race-id {
  font-family: monospace;
}

.race-state {
  display: inline-block;
  padding: 1px 3px;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #f7f7f7;
  font-size: 12px;
  text-transform: uppercase;
}

.race-timer {
  display: block;
  font-family: monospace;
  font-size: 24px;
}


.race-members {
  border-collapse: collapse;
  min-width: 400px;
}

  .race-members th {
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
  }

  .race-members th, .race-members td {
    padding: 4px 6px;
  }

  .race-members tbody tr:nth-child(odd) {
    background-color: #f7f7f7;
  }

  .race-members td {
    border: none;
  }

  .race-members .member-state {
    text-align: center;
  }

.race-actions {
  margin-top: 12px;
}

.ready {
  color: green;
}
